
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div style="padding: 10px; font-size: 18px; padding-left: 0px;">
    @Html.ActionLink("第一种验证码", "", "First")&nbsp;&nbsp;
    @Html.ActionLink("第二种验证码", "", "Second")&nbsp; &nbsp;
    @Html.ActionLink("第三种验证码", "", "Third")
</div>

